<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="stylesheet" href="/client/css/view-data.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/client/js/view-data.js" async></script>
</head>
<body data-ng-app="closetApp" data-ng-controller="closetController" data-ng-init="hideForm=true">
    <div id="title"><h1>View Data</h1></div>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/write-data">Enter Data</a></li>
      <li><a href="/view-data">View Data</a></li>
      <li><a href="/browse-data">Browse Data</a></li>
    </nav>
    <section data-ng-hide="hideTable">
        <div id="getTypeContainer">
            <label id="typelbl" for="groupby">Shoe Type:</label>
            <select name="" id="groupby" data-ng-model="selectedType" data-ng-options="type.display for type in types" data-ng-change="redrawTable()"></select>
            
        </div>

        <table class="table">
            <colgroup><col class='col-xs-3'></colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Released</th>
                    <th>Type of shoe</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Color</th>
                    
                </tr>

                <tr data-ng-repeat="obj in shoes">
                    <td>{{obj.shoe_name}}</td>
                    <td>{{obj.year_released}}</td>
                    <td>{{obj.shoe_type}}</td>
                    <td>{{obj.brand}}</td>
                    <td>{{obj.price}}</td>
                    <td>{{obj.color}}</td>
                    <td><button data-ng-click="editShoe($index)">EDIT</button></td>
                    <td>
                        <button data-ng-click="deleteShoe(obj['_id'])">DELETE</button>
                      </td>
                </tr>
            </thead>
            
        </table>
    </section>

    <section data-ng-hide="hideForm">
        <div style="font-size: 30px">
          <label data-ng-model="shoeID" hidden></label>
          <div>
            <label for="name">Shoe name</label>
            <input
              type="text"
              id="name"
              data-ng-model="name"
              data-ng-change="startNew()"
            />
          </div>
          <div>
            <label for="releaseDate">Release Date:</label>
            <input
              type="date"
              id="releaseDate"
              data-ng-model="releaseDate"
              data-ng-change="startNew()"
            />
          </div>
          <div>
            <label for="type">Shoe Type:</label>
            <input
              type="text"
              id="type"
              data-ng-model="type"
              data-ng-change="startNew()"
            />
          </div>
          <div>
            <label for="brand">Shoe Brand:</label>
            <input
              type="text"
              id="brand"
              data-ng-model="brand"
              data-ng-change="startNew()"
            />
          </div>
          <div>
            <label for="price">Shoe Price:</label>
            <input
              type="text"
              id="price"
              data-ng-model="price"
              data-ng-change="startNew()"
            />
          </div>
          <div>
            <label for="color">Shoe Color:</label>
            <input
              type="text"
              id="color"
              data-ng-model="color"
              data-ng-change="startNew()"
            />
          </div>
          <div
            style="float: left; clear: right; margin-top: 30px; margin-left: 30px"
          >
            <button id="submit" data-ng-click="updateShoe()">Update</button>
          </div>
  
          <div
            style="float: left; clear: right; margin-top: 30px; margin-left: 30px"
          >
            <button id="cancelButton" data-ng-click="cancelUpdate()">
              Cancel
            </button>
          </div>
          <div
            style="
              float: left;
              clear: left;
              margin-top: 20px;
              font-size: 24px;
              color: green;
            "
          >
            {{addResults}}
          </div>
        </div>
      </section>

        
    
</body>
</html>